@font-face {
    font-family: open-sans;
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    display: flex;      
    margin: 0;
    padding: 0; 
}

#background-image {
    background-image: url(images/jordan-duca-aOqEXM_zI_4-unsplash.jpg); 
    background-size: cover;
    height: 100vh;
    width: 40%;

}

#right {
    display: flex;
    margin-left: auto;
}